<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>User String</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous">
    </script>
    <script>
        $("document").ready(function () {
            $('#form').submit(function (e) {
                var urls = "/add-keyword/";
                var form = $(this);
                var data = $(this).serializeArray();
                $.ajax({
                    type: "POST",
                    url: urls,

                    data: data,
                    success: function (data) {
                        alert(data['message']);
                        if(data['keyword']){
                            form[0].reset();
                            $("#keyword-table tbody").append("<tr><td>" + data['keyword'] + "</td></tr>")
                        }

                    }
                });
                e.preventDefault();
            });
        });

    </script>
    <script>
        $("document").ready(function () {
            $('#code_form').submit(function (e) {
                var urls = "/add-code/";
                var form = $(this);
                var data = $(this).serializeArray();
                $.ajax({
                    type: "POST",
                    url: urls,
                    data: data,
                    success: function (data) {
                        alert(data['message']);
                        if(data['code']){
                            form[0].reset();
                            $("#code-table tbody").append("<tr><td>" + data['code'] + "</td></tr>")
                        }
                    }
                });
                e.preventDefault();
            });
        });

    </script>

</head>
<body>
{% include 'header.html' %}
<div class="container">
    <div class="col-md-5">
        <div class="row">
            <h3>Subscribe Keyword</h3>

            <form id="form" method="post" action="{% url 'blog:add_keyword' %}" class="form-inline">
                {% csrf_token %}
                <div class="form-group">
                    <label class="sr-only" for="exampleInputEmail3">Keyword</label>
                    <input type="text" class="form-control" id="exampleInputEmail3" placeholder="Enter Keyword"
                           name="str">
                </div>
                <button type="submit" class="btn btn-primary">Add</button>
            </form>
            {% comment %} <form id="form" method="post" action="{% url 'blog:add_keyword' %}" class="form-inline">
                {% csrf_token %}

                <div class="form-group">
                    <input class="form-control" type="text" name="str" required
                           placeholder="write your keyword"><br/><br/>
                </div>
                <button type="submit" class="btn btn-primary">Add Keyword</button>
            </form>{% endcomment %}
        </div>
        <br><br>

        <div class="row">
            <table class="table table-bordered table-striped" id="keyword-table">
                <thead>
                <tr>
                    <th> Subscribed keywords</th>
                </tr>
                </thead>
                <tbody>
                {% for user_keyword in user_keywords %}
                    <tr>
                        <td>{{ user_keyword.keyword.name }}</td>
                    </tr>
                {% endfor %}
                </tbody>

            </table>
            <br/><br/>
        </div>

    </div>
    <div class="col-md-5 col-md-offset-1">
        <div class="row">
            <h3>Subscribe Code</h3>

            <form id="code_form" method="post" action="{% url 'blog:add_code' %}" class="form-inline">
                {% csrf_token %}
                <div class="form-group">
                    <label class="sr-only" for="exampleInputEmail3">Keyword</label>
                    <select name="code_id" class="form-control" required="">
                        <option value="">Select a code</option>
                        {% for code in codes %}
                            <option value="{{ code.code_id }}">{{ code.code }}</option>
                        {% endfor %}
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Add</button>
            </form>

            {% comment %}<form id="code_form" method="post" action="{% url 'blog:add_code' %}">
                {% csrf_token %}
                <h3>Select Code:</h3>
                <select name="code_id">
                    {% for code in codes %}
                        <option value="{{ str.id }}">{{ code.code }}</option>
                    {% endfor %}
                </select>

                <input type="submit" value="Submit">
            </form>{% endcomment %}
            <br/><br/>
        </div>
        <div class="row">
            <table class="table table-bordered table-striped" id="code-table">
                <thead>
                <tr>
                    <th> Subscribed codes</th>
                </tr>
                </thead>
                <tbody>
                {% for user_code in user_codes %}
                    <tr>
                        <td>{{ user_code.code.code }}</td>
                    </tr>
                {% endfor %}
                </tbody>

            </table>

        </div>

        {% comment %}<form id="profile" method="post" action="{% url 'blog:get_profile' %}">
            {% csrf_token %}
            <input type="submit" value="Get Profile">
        </form>{% endcomment %}
    </div>
</div>


</body>
</html>

