<!DOCTYPE html>
<html lang="en">

<head>


    <meta charset="UTF-8">
    <title>login</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous">

    </script>
    <script>
        $("document").ready(function () {
            $('#login-form').submit(function (e) {
                var urls = "/login/";
                var data = $(this).serialize();
                $.ajax({
                    type: "POST",
                    url: urls,
                    data: data,
                    success: function (data) {
                        if (data["success"]) {
                            location.href = "/";
                        }
                        else {
                            alert(data['message']);
                        }
                    }
                });
                e.preventDefault();
            });
        });

    </script>
</head>
<body>

<div class="container">
    <div class="col-md-4 col-md-offset-4">
        <form id="login-form" class="form-signin" method="post" action="{% url  'blog:login' %} ">
            {% csrf_token %}
            <h2 class="form-signin-heading">Please sign in</h2>
            <label for="inputEmail" class="sr-only">Email address</label>
            <input type="email" id="inputEmail" class="form-control" placeholder="Email address"
                   name="email" required autofocus>
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password"
                   required><br/>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            Not a registered User? <a href="{% url 'blog:signup' %}">Sign Up</a>
        </form>


    </div>
</div>
<!-- /container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../../../assets/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
