<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>

    <h4>Subscribed keywords</h4> <br/>
            <ul>
                {% for user_keyword in user_keywords %}
                  <li>{{user_keyword.keyword.name}}</li>
                 {% endfor %}
            </ul> <br/><br/>
    <h4>Subscribed Codes </h4>  <br/>
            <ul>
                {% for user_code in user_codes %}
                  <li>{{user_code.code.code}}</li>
                {% endfor %}
            </ul> <br/><br/>




</body>
</html>



